body{
	margin: 0px auto;
   	padding: 0px;
   	color:#B2B2B2;
}

/*li { cursor: pointer; }
*/
#Wrapper{

}

#user-div{
	margin: 0 auto;
	margin-top:100px;
	text-align: center;
	width: 80%;

}

#rev-info{
	margin-top:20px;
}
#rev-info p{
	text-shadow:#ffffff 0px 1px 0, #000 0 -1px 0;
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing:0.1em;
  text-align:center;
  /*font-family: "Times New Roman", Georgia, serif;*/
  color: #000000;
  line-height: 145%;
  font-size: 14pt;
  font-variant: small-caps;
}
#rev-info i{
	margin:2px 90px;
}
#rev-info p:hover{
	text-shadow:#FFFFFF 0px 1px 0, #000 0 -1px 0;
  color: #FFFFFF;
  background-color: #A1D7D7;
  border-bottom: 1px solid #FFFFFF;
}
#book-actions{
	margin-top: 8%;
}
#book-actions a{
	font-size: 2.0em;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing:0.1em;
  text-align:center;
  text-decoration: none;

  /*font-family: "Times New Roman", Georgia, serif;*/
  color: #000000;
  line-height: 200%;
  font-size: 14pt;
  font-variant: small-caps;
}
#book-actions i{
	margin-right: 4px;
}
#book-actions a:hover{
	color: green;
}
#black-div{
	width: 100%;
	height: 100%;
	margin: 0em;
    left: 0em; 
    top: 0em; 
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    display: none;
    z-index: 1;
}

#book-div{
	padding-top: 80px;
	margin: 0 auto;
	width: 80%;
}


#book-info{
	padding:10px;
}
#book-text{
	margin-left:5%;
	font-family:georgia, serif;
	  text-transform:uppercase;
 	  font-family:georgia, serif;
	  color:#000000;
	  font-weight:bold;
	  font-style:italic;
	  letter-spacing:.1em;
}

.book-link{
	width: 150px;
	height: 250px;
	float: left;
	margin-right: 50px;
	text-align: center;

}

.book-link:hover {
	opacity: 0.7;

}

.book-link:hover label{
	color:#A1D7D7;

}

.book-link img{
	width: 100%;
	height: 90%;
}
#user-div h1{
	text-shadow:#ffffff 0px 1px 0, #000 0 -1px 0;
  text-transform: uppercase;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing:0.1em;
  text-align:center;
  /*font-family: "Times New Roman", Georgia, serif;*/
  color: #000000;
  line-height: 145%;
  font-variant: small-caps;
}
#user-div h2{
	margin-left:5%;
	font-size: 1.5em;
	font-family:georgia, serif;
	  text-transform:uppercase;
 	  font-family:georgia, serif;
	  color:#000000;
	  font-weight:bold;
	  font-style:italic;
	  letter-spacing:.1em;
}
.book-link label{
	font-size: 1.2em;
	color: #000000;
}
#book-shelf{
	margin: 0px auto; 
	width: 90%;
}

#loginForm{
	display: none;
	position: fixed;
	top:10px;
	left: 50%;
	z-index: 1;
	width: 600px;
	margin-left: -300px;

}

#search-form-div{
	margin: 0 auto;
	margin-top: 100px;
	width: 1024px;
	margin-bottom: 50px;
}

.form-div{
	background-color: #f8f8f8;
	margin: 0 auto;
	margin-top: 6%;
	padding: 3%;
	width: 600px;
	-webkit-box-shadow: 0px 0px 10px 0px #9ADAC9;
	-moz-box-shadow: 0px 0px 10px 0px #9ADAC9;
	box-shadow: 0px 0px 10px 0px #9ADAC9;
	border-radius: 5px;

}
.home {
	background-color: #eaeaea;
}
.home > .homeimg{
	min-width: 100%;
	position: fixed;
	background-image: url('img/frontpage.png');
	background-size: 100%;
	background-color: #eaeaea;
	background-position: center;
	background-repeat: no-repeat;
	margin-top:2.5%;
	min-height: 100%;
}
.home> .homeimg h2 {
	color:blue;
}
.contact{
	background-color: #f8f8f8;
	margin: 0 auto;
	padding: 50px;
	width: 40%;
	-webkit-box-shadow: 0px 0px 10px 0px #9ADAC9;
	-moz-box-shadow: 0px 0px 10px 0px #9ADAC9;
	box-shadow: 0px 0px 10px 0px #9ADAC9;
	border-radius: 5px;
}
.authors > .authorsimg {
	min-width: 100%;
	position: fixed;
	background-image: url('img/Author.png');
	background-size: 100%;
	background-color: #eaeaea;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100%;
}
.top{
	color:#6e0606;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}